.news-wrapper{
    margin-top: 50px;
}
.news-container{
    margin-top: -20px;
    display: flex;
    margin-bottom: 50px;
}
.news-image img{
    width: 250px;
    height: 200px;
}
.news-body{
    margin-left: 30px;
    color: aliceblue;
}
.news-title{
    font-size: 1.8rem;
    margin-bottom: 8px;
}
.news-title:hover{
    color: yellow;
    cursor: pointer;
}
.news-content{
    font-size: 1.4rem;
    width: 70%;
    color: aliceblue;
}
.news-icon{
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    margin-bottom: 8px;
}
.news-time{
    margin-left: 3px;
}
.content-title{
    color: yellow;
    font-size: 2.2rem;
}
.content-news{
    margin-top: 25px;
    line-height: 2.5rem;
    font-size: 1.7rem;
    
}
.contentnews-image{
    margin-top: 20px;
}
.contentnews-image img{
    width: 95%;
    height: 600px;
}

.image-captions{
    text-align: center;
    font-size: 1.7rem;
    margin-top: 5px;
    text-transform: capitalize;
}
.comment-title{
    margin-top: 50px;
    margin-bottom: 10px;
    color: aliceblue;
    font-size: 1.8rem;
}
.comment-container{
    width: 65%;
    background-color: aliceblue;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.comment-logo{
    height: 50px;
    display: flex;
    align-items: center;
}
.comment-logo img{
    width: 50px;
    height: 100%;
    
}
.comment-input{
    margin-left: 8px;
    width: 100%;
    height: 50px;
    padding: 5px;

}
.comment-content, .comment-content-other{
    margin-top: 20px;
    display: flex;
}
.comment-item{
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.comment-bd{
   width: 100%;
   font-size: 1.5rem;
}
.comment-btn{
    margin-left: 5px;
    height: 50px;
    font-size: 1.5rem;
    width: 170px;
    border: 1px solid rgb(81, 80, 80);
}
.comment-btn:hover{
    color: white;
    background-color: rgb(112, 112, 109);
}
.comments-content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.comments-body{
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.comment-name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: blue;
    font-weight: 600;
}
.comment-date{
    margin-left: 10px;
    font-size: 1.1rem;
    color: black;
}