.form-payment{
    width: 60%;
}
.form-label{
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    color: aliceblue;
}
.form-input{
    padding: 12px 0 12px 8px;
    font-size: 1.5rem;
}

.order{
    width: 40%;
    border: 1px solid rgb(137, 134, 134);
    padding: 20px 30px;
    border-radius: 10px;
    color: aliceblue;
    margin-left: 50px;
}
.order-title{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    text-align: center;
}
.order-header{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.order-content{
    display: flex;
    justify-content: space-between;
}
.order-total{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgb(116, 114, 114);
    padding-top: 10px;
    text-transform: uppercase;
    font-size: 2rem;
    
}
.order-body{
    border-top: 1px solid rgb(116, 114, 114);
    padding: 10px 0;

}
.order-count{
    margin-left: 70px;
}
.order-name{
    width: 180px;
}
.order-quantity{
    margin-right: 50px;
}
.bank-transfer{
    margin: 20px 0 10px 0;
}
.pay-btn{
    width: 100%;
    text-align: center;
    margin-top: 32px;
}
.pay-title{
    padding: 10px 40px;
    background-color: green;
    font-size: 2rem;
    width: 100%;
}
.pay-totalprice{
    color: yellow;
}
.error{
    font-size: 1.2rem;
    color: red;
    text-align: left;
}
.form-group{
    border: 1px solid rgb(137, 134, 134);
    max-height: 580px;
    
    padding: 20px 30px;
    border-radius: 10px;
}
.payacess-title{
    font-size: 2.5rem;
    color: aliceblue;
}
.pay-acsess{
    width: 100%;
    text-align: center;
}
.payaccess-btn{
    padding: 10px 30px;
    font-size: 1.8rem;
    background-color: green;
    margin-top: 30px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .form-payment{
        width: 50%;
    }
    .order{
        width: 50%;
    }
}