.slider-img{
    width: 50%;
    height: 100%;
    display: flex;
    gap: 1px;
    position: relative;
    margin-right: 11px !important;
}
.slider-img img{
    width: 428px;
}

.home-box-tax{
    margin-top: -40px;
   
}
.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  font-size: 50px;
}
.slider-img span{
    color: white;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    right: 0;
    bottom: 35px;
    left: 0;
} 
.slider-img:hover{
    cursor: pointer;
    opacity: 0.7;
}

@media (max-width: 500px) {
    .slider-img img{
        width: 106px;
        height: 150px;
    } 
    .slider-img span{
        font-size: 0.7rem;
        margin-left: 24px;
    }
}
