.form-title{
    font-size: 2.5rem;
}
.btn-close{
    display: none;
}
.modal-header,.modal-footer{
    border: none;
}
.modal-title{
    width: 100%;
}
.form-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-icon{
    color: red;
    margin: 20px 0;
    font-size: 6rem;
}
.form-content{
    font-size: 2.5rem;
    text-align: center;
}
.form-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.delete-form-btn,.cancle-form-btn{
    font-size: 2rem;
    padding: 5px 20px;
    text-transform: uppercase;
    margin-top: 30px;
    
}
.delete-form-btn{
    margin-right: 20px;
}